<template name="bursary">
  <div class="template-bursary">
    <h3>Our Donors</h3>
    <i>Thank you for making a difference to our Pioneers.</i>
    <div class="row donor-table">
      <div class="col s12 m6 l6">
        <ul class="collection">
          <li class="collection-item"><b>List of Pioneers who donated</b></li>
          <li class="collection-item">Alvin</li>
          <li class="collection-item">Alvin</li>
          <li class="collection-item">Alvin</li>
        </ul>
      </div>
      <div class="col s12 m6 l6">
        <ul class="collection">
          <li class="collection-item"><b>List of Pioneers who pledged</b></li>
          <li class="collection-item">Alvin</li>
          <li class="collection-item">Alvin</li>
          <li class="collection-item">Alvin</li>
        </ul>
      </div>
    </div>
  </div>
</template>
