<template name="bursary">
  <div class="template-bursary">
    <h3>Our Donors</h3>
    <i>Thank you for making a difference to our Pioneers.</i>
    <div class="row donor-table">
      <div class="col s12 m12 l6">
        <ul class="collection">
          <li class="collection-item"><b>List of Pioneers who donated</b></li>
          <li class="collection-item"><span class="green-text text-accent-4">Year 2013</span></li>
          <li class="collection-item">Toh Yew Keat Eugene 05A07</li>
          <li class="collection-item">Dickson Gregory 01S16</li>
          <li class="collection-item"><span class="green-text text-accent-4">Year 2014</span></li>
          <li class="collection-item">Chan Meishi Mabeline 00S14</li>
          <li class="collection-item">Lin Yiling Karen 00S14</li>
          <li class="collection-item">Low Chai Leng 00S14</li>
          <li class="collection-item">Gina Myung Soo Jin 00S14</li>
          <li class="collection-item">Tan Hui Ling 00S14</li>
          <li class="collection-item">Tan Mei Yan 00S14</li>
          <li class="collection-item">Teo Su Zhen Porcia 00S14</li>
          <li class="collection-item">Yeo Si Min 00S14</li>
          <li class="collection-item">Chia Yong Yue Wilfred 00S14</li>
          <li class="collection-item">Heng Kee Ming 00S14</li>
          <li class="collection-item">Khoo William 00S14</li>
          <li class="collection-item">Tan Wee Cheong 00S14</li>
          <li class="collection-item">Tay Kok Heng 00S14</li>
          <li class="collection-item"><i>Volleyball Club Alumni</i></li>
          <li class="collection-item"><span class="green-text text-accent-4">Year 2015</span></li>
          <li class="collection-item">Sim Yong Kuang Alex 06S10</li>
          <li class="collection-item">Ng Kim Wah 03S17</li>
          <li class="collection-item">Sim Shi Lin 04S15</li>
        </ul>
      </div>
      <div class="col s12 m12 l6">
        <ul class="collection">
          <li class="collection-item"><b>List of Pioneers who pledged</b></li>
          <li class="collection-item"><span class="green-text text-accent-4">Year 2014</span></li>
          <li class="collection-item">Ng Siew Hoon 04S01</li>
          <li class="collection-item">Gan Xin Li 04S01</li>
        </ul>
      </div>
    </div>
  </div>
</template>
