<template name="about">
  <div class="template-about">
    <h3>About PAC</h3>
    <div class="card-panel">
      <h4>Our Vision</h4>
      <p>
        A Vibrant Pioneer Fraternity
      </p>
    </div>
    <div class="card-panel">
      <h4>Our Mission</h4>
      <p>
        To establish an extensive network of meaningful and fulfilling relationships among the students and alumni
        of Pioneer Junior College as well as to foster a vibrant Pioneer fraternity.
      </p>
    </div>
    <div class="card-panel">
      <h4>Our Logo</h4>
      <p>
        Placeholder text - to be replaced by image of logo
      </p>
    </div>
    <h3>Exco / Core Members</h3>
    <div class="row">
      <div class="col s0 m4 l4">
        <div class="card">
        </div>
      </div>
      <div class="col s12 m4 l4">
        <div class="card">
          <div class="card-image">
            <img src="images/default-avatar.png">
          </div>
          <div class="card-content">
            <b>President</b>
            <br>
            <p>Mr Chin Yien Jun</p>
            <br>
          </div>
        </div>
      </div>
      <div class="col s0 m4 l4">
        <div class="card">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m4 l4">
        <div class="card">
          <div class="card-image">
            <img src="images/default-avatar.png">
          </div>
          <div class="card-content">
            <b>Vice President (Operations and Special Projects)</b>
            <br>
            <p>Mr Aaron Ting</p>
          </div>
        </div>
      </div>
      <div class="col s12 m4 l4">
        <div class="card">
          <div class="card-image">
            <img src="images/default-avatar.png">
          </div>
          <div class="card-content">
            <b>Vice President (Directors)</b>
            <br>
            <p>Mr Lim Jun Hue</p>
            <br>
          </div>
        </div>
      </div>
      <div class="col s12 m4 l4">
        <div class="card">
          <div class="card-image">
            <img src="images/default-avatar.png">
          </div>
          <div class="card-content">
            <b>Vice President (Finance)</b>
            <br>
            <p>Ms Tay Jia Hui</p>
            <br>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m4 l4">
        <div class="card">
          <div class="card-image">
            <img src="images/default-avatar.png">
          </div>
          <div class="card-content">
            <b>Treasurer</b>
            <br>
            <p>Ms Crystal Ling</p>
            <br>
          </div>
        </div>
      </div>
      <div class="col s12 m4 l4">
        <div class="card">
          <div class="card-image">
            <img src="images/default-avatar.png">
          </div>
          <div class="card-content">
            <b>Honorary General Secretary</b>
            <br>
            <p>Mr Audi Munawwar</p>
            <br>
          </div>
        </div>
      </div>
      <div class="col s12 m4 l4">
        <div class="card">
          <div class="card-image">
            <img src="images/default-avatar.png">
          </div>
          <div class="card-content">
            <b>Relations Director</b>
            <br>
            <p>Ms Tey Xue Yi</p>
            <br>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m4 l4">
        <div class="card">
          <div class="card-image">
            <img src="images/default-avatar.png">
          </div>
          <div class="card-content">
            <b>Events Director</b>
            <br>
            <p>Mr Chin Yien Hao</p>
            <br>
          </div>
        </div>
      </div>
      <div class="col s12 m4 l4">
        <div class="card">
          <div class="card-image">
            <img src="images/default-avatar.png">
          </div>
          <div class="card-content">
            <b>Publicity Director</b>
            <br>
            <p>Ms Amirah Asrori</p>
            <br>
          </div>
        </div>
      </div>
      <div class="col s12 m4 l4">
        <div class="card">
          <div class="card-image">
            <img src="images/default-avatar.png">
          </div>
          <div class="card-content">
            <b>Events Executive</b>
            <br>
            <p>Mr Amirul Adli Rosli</p>
            <br>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m4 l4">
        <div class="card">
          <div class="card-image">
            <img src="images/default-avatar.png">
          </div>
          <div class="card-content">
            <b>Corporate Relations Executive</b>
            <br>
            <p>Ms Amanlia Toh</p>
            <br>
          </div>
        </div>
      </div>
      <div class="col s12 m4 l4">
        <div class="card">
          <div class="card-image">
            <img src="images/default-avatar.png">
          </div>
          <div class="card-content">
            <b>Special Projects Executive</b>
            <br>
            <p>Mr Mohd Nijamudeen</p>
            <br>
          </div>
        </div>
      </div>
      <div class="col s12 m4 l4">
        <div class="card">
          <div class="card-image">
            <img src="images/default-avatar.png">
          </div>
          <div class="card-content">
            <b>Publicity Executive</b>
            <br>
            <p>Ms Theresa Chong</p>
            <br>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m4 l4">
        <div class="card">
          <div class="card-image">
            <img src="images/default-avatar.png">
          </div>
          <div class="card-content">
            <b>Executive Webmaster</b>
            <br>
            <p>Mr Yap Jun Hao</p>
            <br>
          </div>
        </div>
      </div>
      <div class="col s12 m4 l4">
        <div class="card">
        </div>
      </div>
      <div class="col s12 m4 l4">
        <div class="card">
        </div>
      </div>
    </div>
  </div>
</template>
