<template name="about">
  <div class="template-about">
    <h3>About PAC</h3>
    <div class="card-panel">
      <h4>Our Vision</h4>
      <p>
        A Vibrant Pioneer Fraternity
      </p>
    </div>
    <div class="card-panel">
      <h4>Our Mission</h4>
      <p>
        To establish an extensive network of meaningful and fulfilling relationships among the students and alumni
        of Pioneer Junior College as well as to foster a vibrant Pioneer fraternity.
      </p>
    </div>
    <div class="card-panel">
      <h4>Our Logo</h4>
      <p>
        Placeholder text - to be replaced by image of logo
      </p>
    </div>
    <h3>Exco / Core Members</h3>
    <div class="row">
      <div class="col s0 m4 l4">
        <div class="card">
        </div>
      </div>
      <div class="col s12 m4 l4">
        <div class="card">
          <div class="card-image">
            <img src="images/default-avatar.png">
          </div>
          <div class="card-content">
            <b>President</b>
            <br>
            <p>Mr Chin Yien Jun</p>
          </div>
        </div>
      </div>
      <div class="col s0 m4 l4">
        <div class="card">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m4 l4">
        <div class="card">
          <div class="card-image">
            <img src="images/default-avatar.png">
          </div>
          <div class="card-content">
            <p></p>
          </div>
        </div>
      </div>
      <div class="col s12 m4 l4">
        <div class="card">
          <div class="card-image">
            <img src="images/default-avatar.png">
          </div>
          <div class="card-content">
            <p></p>
          </div>
        </div>
      </div>
      <div class="col s12 m4 l4">
        <div class="card">
          <div class="card-image">
            <img src="images/default-avatar.png">
          </div>
          <div class="card-content">
            <p></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m4 l4">
        <div class="card">
          <div class="card-image">
            <img src="images/default-avatar.png">
          </div>
          <div class="card-content">
            <p></p>
          </div>
        </div>
      </div>
      <div class="col s12 m4 l4">
        <div class="card">
          <div class="card-image">
            <img src="images/default-avatar.png">
          </div>
          <div class="card-content">
            <p></p>
          </div>
        </div>
      </div>
      <div class="col s12 m4 l4">
        <div class="card">
          <div class="card-image">
            <img src="images/default-avatar.png">
          </div>
          <div class="card-content">
            <p></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m4 l4">
        <div class="card">
          <div class="card-image">
            <img src="images/default-avatar.png">
          </div>
          <div class="card-content">
            <p></p>
          </div>
        </div>
      </div>
      <div class="col s12 m4 l4">
        <div class="card">
          <div class="card-image">
            <img src="images/default-avatar.png">
          </div>
          <div class="card-content">
            <p></p>
          </div>
        </div>
      </div>
      <div class="col s12 m4 l4">
        <div class="card">
          <div class="card-image">
            <img src="images/default-avatar.png">
          </div>
          <div class="card-content">
            <p></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m4 l4">
        <div class="card">
          <div class="card-image">
            <img src="images/default-avatar.png">
          </div>
          <div class="card-content">
            <p></p>
          </div>
        </div>
      </div>
      <div class="col s12 m4 l4">
        <div class="card">
          <div class="card-image">
            <img src="images/default-avatar.png">
          </div>
          <div class="card-content">
            <p></p>
          </div>
        </div>
      </div>
      <div class="col s12 m4 l4">
        <div class="card">
          <div class="card-image">
            <img src="images/default-avatar.png">
          </div>
          <div class="card-content">
            <p></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m4 l4">
        <div class="card">
          <div class="card-image">
            <img src="images/default-avatar.png">
          </div>
          <div class="card-content">
            <p></p>
          </div>
        </div>
      </div>
      <div class="col s12 m4 l4">
        <div class="card">
        </div>
      </div>
      <div class="col s12 m4 l4">
        <div class="card">
        </div>
      </div>
    </div>
  </div>
</template>
