<template name="home">
  <div class="template-home">
    <h3>Announcements</h3>
    <div class="card-panel">
      <h4>Post AGM 2015 Update (placholder - sample)</h4>
      <span>Posted 21 Apr 2015, 08:29 by Aaron Ting</span>
      <p>
        Good day Pioneer Alumni. This is Aaron, the President (15/16) of Pioneer Alumni Circle. One month earlier (21 March 2015, Saturday), PAC held its Annual General Meeting and elected a new team of members to the 15/16 Executive Committee.
      </p>
      <p>
        We certainly are humbled and honored to be given the opportunity to give back to the school, and at the same time, serve the alumni community of PJC.
      </p>
      <p>
        PAC's vision and mission to give back to PJC and serve Pioneer Alumni, is to: establish an extensive network of meaningful and fulfilling relationships among the students and alumni of Pioneer Junior College as well as to foster a vibrant Pioneer fraternity.
      </p>
      <p>
        As such, my team and I will remain committed and dedicated in undertaking some new initiatives to better meet our vision and mission, and at the same time strengthening existing PAC initiatives such as: Past versus Present, Wash for Hope, PAC's Bursary Process and many more. In the process, we will certainly be engaging stakeholders including Pioneer Alumni like yourself, the current students and Teachers of <a href="https://www.facebook.com/pioneer.pjc">Pioneer Junior College</a> as well as our other partners.
      </p>
      <p>
        Do look forward to some of the new things that PAC will be initiating, as well as some of our regular trademark activites (Eg. PVP, which is coming up in 3 months time). We will be providing updates here from time to time.
      </p>
      <p>
        My team and I would like to thank PJC's alumni for your strong support in the past year, and we hope to be able to have your strong support for the upcoming year as well. For enquiries on how you can help, or on any matter relating to PAC, do feel free to email us at enquiries@pioneeralumnicircle.org and we will respond to you within a few days. Similarly, you can get updates and further information about pac from our website as well: <a href="www.pioneeralumnicircle.org">www.pioneeralumnicircle.org</a>.
      </p>
      <p>
        Thank you and best regards,
      </p>
      <p>
        Aaron Ting K.H.
        <br>
        President (15/16)
        <br>
        Pioneer Alumni Circle
        <br>
      </p>
      <p>
        Link to our photos are <a href="https://www.facebook.com/groups/pioneeralumnicircle/">here</a> at https://www.facebook.com/groups/pioneeralumnicircle/.
      </p>
    </div>
  </div>
</template>
