<template name="_footer">
  <footer class="page-footer">
    <div class="container valign-wrapper">
      <a class="white-text footer-social" href="https://www.facebook.com/groups/pioneeralumnicircle/">
        <i class="mdi mdi-facebook-box small valign hide-on-small-only">
          <span class="footer-social-text">Facebook</span>
        </i>
        <i class="mdi mdi-facebook-box medium valign hide-on-med-and-up"></i>
      </a>
      <a class="white-text footer-social" href="https://twitter.com/PjcAlumni">
        <i class="mdi mdi-twitter-box small valign hide-on-small-only">
            <span class="footer-social-text">Twitter</span>
        </i>
        <i class="mdi mdi-twitter-box medium valign hide-on-med-and-up"></i>
      </a>
      <a class="white-text footer-social" href="https://instagram.com/pioneeralumnicircle/">
        <i class="mdi mdi-instagram small valign hide-on-small-only">
            <span class="footer-social-text">Instagram</span>
        </i>
        <i class="mdi mdi-instagram medium valign hide-on-med-and-up"></i>
      </a>
    </div>
    <div class="footer-copyright">
      <div class="container">
        &copy; 2015 Pioneer Alumni Circle
      </div>
    </div>
  </footer>
</template>
