<template name="_footer">
  <footer class="page-footer">
    <div class="footer-copyright">
      <div class="container valign-wrapper">
        &copy; 2015 Pioneer Alumni Circle &nbsp;
        <a class="white-text" href="https://www.facebook.com/groups/pioneeralumnicircle/">
          <i class="mdi mdi-facebook-box small valign">
            <span class="hide-on-small-only">Facebook</span>
          </i>
        </a>
        <a class="white-text" href="https://twitter.com/PjcAlumni">
          <i class="mdi mdi-twitter-box small valign">
              <span class="hide-on-small-only">Twitter</span>
          </i>
        </a>
        <a class="white-text" href="https://instagram.com/pioneeralumnicircle/">
          <i class="mdi mdi-instagram small valign">
              <span class="hide-on-small-only">Instagram</span>
          </i>
        </a>
      </div>
    </div>
  </footer>
</template>
