<template name="_footer">
  <footer class="page-footer">
    <div class="footer-copyright">
      <div class="container valign-wrapper">
        &copy; 2015 Pioneer Alumni Circle
        &nbsp;
        <a href="https://www.facebook.com/groups/pioneeralumnicircle/"><i class="mdi mdi-facebook-box small valign"></i></a>
        <a href="https://twitter.com/PjcAlumni"><i class="mdi mdi-twitter-box small valign"></i></a>
        <a href="https://instagram.com/pioneeralumnicircle/"><i class="mdi mdi-instagram small valign"></i></a>
      </div>
    </div>
  </footer>
</template>
